body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: var(--base-font-size);
	line-height: var(--line-height);
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
	color: var(--body-fg);
	background-color: var(--body-bg);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	min-height: 100vh;
	max-height: 100vh;
	overflow: none;
}

#content {
	display: flex;
	flex-grow: 1;
	flex-basis: auto;
	overflow: scroll;
}

#board-area {
	flex-grow: 1;
}

#hdr {
	background-color: var(--hdr-bg);
	color: var(--hdr-fg);
	box-shadow: 0 3px 3px var(--shadow);
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5em;
}

#hdr-left {
	display: flex;
	flex-direction: column;
	padding: .35em;
}

#hdr-middle {
	display: flex;
	justify-content: center;
	padding: .5em;
}

i {
	font-size: 80%;
}

#turn {
	padding-left: .5em;
	padding-right: .5em;
	white-space: nowrap;
}

#hdr-right {
	display: flex;
	justify-content: flex-end;
	padding: .5em;
}

#hdr-middle .button,
#hdr-right .button {
	color: var(--hdr-fg);
}

#hdr-right .button {
	margin-left: .5em;
}

#ftr {
	background-color: var(--hdr-bg);
	color: var(--hdr-fg);
	box-shadow: 0 -3px 3px var(--shadow);
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#copyright {
	font-size: .7em;
	line-height: var(--line-height);
	padding: .5em;
}

#board {
	margin: 1em;
	box-shadow: 3px 3px 3px var(--shadow);
	border: 1px solid var(--border);
	display: grid;
	grid-template:
		"hname hinit hhp-hdr hhp-hdr hhp-hdr hnotes"
		"hname hinit hhp-desc hhp hhp-max hnotes"
		"name init hp-desc hp hp-max notes"
		/ auto auto auto auto auto 1fr;
	justify-items: stretch;
	align-items: stretch;
}

.hname {
	grid-area: hname;
}

.hinit {
	grid-area: hinit;
}

.hhp-hdr {
	grid-area: hhp-hdr;
}

.hhp-desc {
	grid-area: hhp-desc;
}

.hhp {
	grid-area: hhp;
}

.hhp-max {
	grid-area: hhp-max;
}

.hnotes {
	grid-area: hnotes;
}

.hname,
.hinit,
.hhp-hdr,
.hhp-desc,
.hhp,
.hhp-max,
.hnotes {
	background-color: var(--board-hdr-bg);
	color: var(--board-hdr-fg);
	font-size: .8em;
	text-align: center;
	padding-top: .2ex;
	padding-bottom: .2ex;
}

.hname,
.hinit,
.hhp-hdr,
.hhp-desc,
.hhp,
.hhp-max,
.hnotes,
.name,
.init,
.hp-desc,
.hp,
.hp-max,
.notes {
	border-bottom: 1px solid var(--border);
	padding-left: .3em;
	padding-right: .3em;
}

.hname,
.hinit,
.hnotes {
	padding-top: calc(.6ex + 1px);
}

.hinit,
.hhp-hdr,
.hhp-desc,
.hhp,
.hhp-max,
.hnotes,
.init,
.hp-desc,
.hp,
.hp-max,
.notes {
	border-left: 1px solid var(--border);
}

.name,
.init,
.hp-desc,
.hp,
.hp-max,
.notes {
	padding-top: calc(.5ex + var(--drag-marker-height));
	padding-bottom: calc(.5ex + var(--drag-marker-height));
}

.name:nth-last-child(6),
.init:nth-last-child(5),
.hp-desc:nth-last-child(4),
.hp:nth-last-child(3),
.hp-max:nth-last-child(2),
.notes:nth-last-child(1) {
	border-bottom: none;
	padding-bottom: calc(.5ex + var(--drag-marker-height) + 1px);
}

.name:nth-child(12n+8),
.init:nth-child(12n+9),
.hp-desc:nth-child(12n+10),
.hp:nth-child(12n+11),
.hp-max:nth-child(12n+12),
.notes:nth-child(12n+13) {
	background-color: #eeeeff;
}

.name:nth-child(12n+13),
.init:nth-child(12n+14),
.hp-desc:nth-child(12n+15),
.hp:nth-child(12n+16),
.hp-max:nth-child(12n+17),
.notes:nth-child(12n+18) {
	background-color: #eeffee;
}

.name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
}

.controls {
	margin-left: 1em;
	flex-basis: 0;
}

.hp-desc {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: var(--safe);
}

.init,
.hp,
.hp-max {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.hp-cur {
	flex-grow: 1;
	text-align: right;
}

.hp .controls {
	margin-left: .5em;
}

.notes {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	white-space: normal;
}

.tag {
	position: relative;
	display: inline-block;
	padding-top: .3ex;
	padding-bottom: .5ex;
	padding-left: .7em;
	padding-right: .7em;
	margin-top: .1ex;
	margin-bottom: .1ex;
	margin-left: .35em;
	color: var(--tag-fg);
	background-color: var(--tag-bg);
	border-radius: 1em;
	white-space: nowrap;
	border: 1px solid var(--tag-border);
}

.tag-desc {
	padding-top: .1ex;
	display: inline-block;
}

.button {
	color: var(--button-fg);
	padding-left: .1em;
	padding-right: .1em;
	cursor: pointer;
}

#hdr-middle .button:hover,
#hdr-right .button:hover,
.button:hover {
	color: var(--clickable);
}

.ally {
	color: var(--ally-fg);
}

.enemy {
	color: var(--enemy-fg);
}

.out {
	color: var(--out-fg);
	text-decoration: line-through;
}

#board .current {
	background-color: var(--current);
}

.title {
	text-align: center;
	font-size: 1.5em;
	padding-bottom: .5em;
}

#fields {
	display: grid;
	grid-template: "label field";
	align-items: center;
}

#fields .label {
	text-align: right;
	padding-right: .5em;
}

#fields input {
	font-size: var(--base-font-size);
	line-height: var(--line-height);
}

#fields .checkbox {
	text-align: center;
	grid-column-start: span 2;
}

#fields hr {
	grid-column-start: span 2;
	width: 100%;
}

#fields .timed {
	align-self: flex-start;
	justify-self: flex-end;
	margin-top: .5em;
	margin-right: .5em;
}

#fields .composite {
	display: flex;
	flex-direction: column;
}

#fields .composite div {
	margin-top: .25em;
}

.danger {
	color: var(--danger);
}

.invisible {
	visibility: hidden;
}

.drag-handle {
	width: 100%;
}

.drag-marker-top {
	border-top: var(--drag-marker-height) dashed var(--drag-marker-fg);
	padding-top: .5ex;
}

.drag-marker-bottom,
.drag-marker-bottom:nth-last-child(6),
.drag-marker-bottom:nth-last-child(5),
.drag-marker-bottom:nth-last-child(4),
.drag-marker-bottom:nth-last-child(3),
.drag-marker-bottom:nth-last-child(2),
.drag-marker-bottom:nth-last-child(1) {
	border-bottom: var(--drag-marker-height) dashed var(--drag-marker-fg);
	padding-bottom: calc(.5ex + 1px);
}
