#library-area {
	margin: 1em;
	margin-right: 0;
	box-shadow: 3px 3px 3px var(--shadow);
	border: 1px solid var(--border);
	background-color: var(--content-bg);
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	width: 24em;
}

#library-filter {
	color: var(--board-hdr-fg);
	background-color: var(--board-hdr-bg);
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .2ex;
	padding-bottom: .2ex;
	white-space: nowrap;
	display: grid;
	grid-template-columns: 0fr 1fr 0fr;
	grid-column-gap: .2em;
	align-items: center;
}

#library-filter input {
	margin-left: .5em;
	margin-right: .5em;
}

#library {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.library-item {
	padding-left: .5em;
	padding-right: .5em;
	white-space: nowrap;
	cursor: pointer;
}

.library-selected {
	background-color: var(--current);
}

#filter-count {
	font-size: .8rem;
}

.hide {
	display: none;
}