/* Copyright ©2018-2020 by Richard A. Wilkes. All rights reserved. */
/* */
/* This Source Code Form is subject to the terms of the Mozilla Public */
/* License, version 2.0. If a copy of the MPL was not distributed with */
/* this file, You can obtain one at http://mozilla.org/MPL/2.0/. */
/* */
/* This Source Code Form is "Incompatible With Secondary Licenses", as */
/* defined by the Mozilla Public License, version 2.0. */

#library-area {
	margin: 1em 0 1em 1em;
	box-shadow: 3px 3px 3px var(--shadow);
	border: 1px solid var(--border);
	background-color: var(--content-bg);
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	width: 24em;
}

#library-filter {
	color: var(--board-hdr-fg);
	background-color: var(--board-hdr-bg);
	padding: .2ex .5em .3ex;
	white-space: nowrap;
	display: grid;
	grid-template-columns: 0 1fr 0;
	grid-column-gap: .2em;
	align-items: center;
}

#library-filter input {
	margin-left: .5em;
	margin-right: .5em;
}

#library {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.library-item {
	padding-left: .5em;
	padding-right: .5em;
	white-space: nowrap;
	cursor: pointer;
}

.library-selected {
	background-color: var(--current);
}

#filter-count {
	font-size: .8rem;
}

.hide {
	display: none;
}

#library-area.collapse {
	width: 0;
	display: none;
}