#modal-overlay {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--model-overlay-bg);
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
	z-index: 1010;
	background-color: var(--body-bg);
	color: var(--body-fg);
	box-shadow: 3px 3px 3px var(--shadow);
	border: 1px solid var(--border);
	border-radius: .5em;
	padding: 1em;
	padding-bottom: .5em;
}

.modal-content {
	overflow: auto;
}

.modal-buttons {
	margin-top: 1em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	white-space: nowrap;
}

.modal-buttons button {
	margin-left: 1em;
}

.closed {
	display: none;
}