#modal-overlay {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--model-overlay-bg);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.modal {
	margin: 10px;
	background-color: var(--body-bg);
	color: var(--body-fg);
	box-shadow: 3px 3px 3px var(--shadow);
	border: 1px solid var(--border);
	border-radius: .5em;
	padding: 1em;
	padding-bottom: .5em;
	min-height: 50px;
	max-height: 100vh;
	overflow: hidden;
}

.modal-content {
	max-height: calc(100vh - (20px + 5em));
	overflow: auto;
}

.modal-buttons {
	margin-top: 1em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	white-space: nowrap;
}

.modal-buttons button {
	font-size: 1rem;
	border-radius: .4em;
	border-width: 1px;
	border-color: var(--ctrl-border);
	background-image: linear-gradient(var(--button-gradient-start), var(--ctrl-border));
	margin: 1px;
	margin-left: 1em;
}

.modal-buttons button:active {
	background-image: linear-gradient(var(--ctrl-border), var(--button-gradient-start));
}

.modal-buttons button:focus {
	outline: none;
	border-width: 2px;
	border-color: var(--focus-border);
	margin: 0;
	margin-left: calc(1em - 1px);
}

#modal-overlay.closed {
	display: none;
}