/* Copyright ©2018-2020 by Richard A. Wilkes. All rights reserved. */
/* */
/* This Source Code Form is subject to the terms of the Mozilla Public */
/* License, version 2.0. If a copy of the MPL was not distributed with */
/* this file, You can obtain one at http://mozilla.org/MPL/2.0/. */
/* */
/* This Source Code Form is "Incompatible With Secondary Licenses", as */
/* defined by the Mozilla Public License, version 2.0. */

:root {
	--hdr-fg: whitesmoke;
	--hdr-bg: #333333;
	--board-hdr-fg: whitesmoke;
	--board-hdr-bg: #333366;
	--body-fg: #333333;
	--body-bg: whitesmoke;
	--content-bg: white;
	--border: gray;
	--clickable: red;
	--ally-fg: darkgreen;
	--enemy-fg: darkred;
	--out-fg: #b0b0b0;
	--shadow: rgba(0, 0, 0, 0.3);
	--tag-fg: #333333;
	--tag-bg: #eecc66;
	--tag-border: #ddbb55;
	--button-fg: #333333;
	--safe: green;
	--danger: red;
	--drag-marker-fg: red;
	--current: #ffffaa;
	--ctrl-border: lightgray;
	--button-gradient-start: aliceblue;
	--focus-border: steelblue;
	--model-overlay-bg: rgba(0, 0, 0, 0.2);
	--drag-marker-height: 2px;
}