<div id="board" ondragstart="dragStartHandler(event)" ondragenter="dragEnterHandler(event)"
	ondragover="dragOverHandler(event)" ondragleave="dragLeaveHandler(event)" ondrop="dropHandler(event)"
	ondragend="dragEndHandler(event)">
	<div class="hname"><br>Who</div>
	<div class="hinit"><br>Init</div>
	<div class="hhp-hdr">Hit Points</div>
	<div class="hhp-desc">Status</div>
	<div class="hhp">Current</div>
	<div class="hhp-max">Max</div>
	<div class="hnotes"><br>Notes</div>
{{- $board := .}}{{range .Combatants}}
	<div class="name{{$board.CurrentTag .}}" cid="{{.ID}}">
		<div class="drag-handle" draggable="true">
			<i class="fas fa-user {{.Type}}" title="{{.TypeDescription}}"></i>
			{{if .Out}}<span class="out">{{end}}{{.Name}}{{if .Out}}</span>{{end}}
		</div>
		<div class="controls">
			<i class="fas fa-bullseye button{{if or (eq $board.Round 0) ($board.IsCurrent .)}} invisible{{end}}" title="Focus this combatant" onclick="makeCurrentCombatant({{.ID}})"></i>
			{{- if .EntityID}}
			<i class="fas fa-eye button" title="View combatant" onclick="showEntity(findEntityByID({{.EntityID}}))"></i>
			{{- end}}
			<i class="fas fa-pencil-alt button" title="Edit combatant" onclick="editCombatant({{.ID}})"></i>
			<i class="fas fa-copy button" title="Duplicate combatant" onclick="duplicateCombatant({{.ID}})"></i>
			<i class="fas fa-trash button" title="Delete combatant" onclick="deleteCombatant({{.Name}}, {{.ID}})"></i>
		</div>
	</div>
	<div class="init{{$board.CurrentTag .}}" cid="{{.ID}}">{{if $board.Round}}{{.Initiative}}{{else}}{{printf "%+d" .InitiativeBase}}{{end}}</div>
	<div class="hp-desc{{$board.CurrentTag .}}{{.StatusTag}}" cid="{{.ID}}">{{.Status}}</div>
	<div class="hp{{$board.CurrentTag .}}" cid="{{.ID}}">
		<div class="hp-cur">{{.FormattedHP}}</div>
		<div class="controls">
			<i class="fas fa-heart button" title="Adjust hit points" onclick="adjustHP({{.ID}})"></i>
			<i class="fas fa-plus-square" title="Add one hit point" onclick="directAdjustHP({{.ID}},1)"></i>
			<i class="fas fa-minus-square" title="Subtract one hit point" onclick="directAdjustHP({{.ID}},-1)"></i>
			<i class="fas fa-undo-alt" title="Reset hit points" onclick="resetHP({{.ID}})"></i>
			<i class="fas fa-clipboard-list" title="Recent changes to HP" onclick="showRecentHPChanges({{.ID}})"></i>
		</div>
	</div>
	<div class="hp-max{{$board.CurrentTag .}}" cid="{{.ID}}">{{.HPFull}}</div>
	<div class="notes{{$board.CurrentTag .}}" cid="{{.ID}}">
		<i class="fas fa-plus-circle button" title="Add note" onclick="addNote({{.ID}})"></i>
		{{- $combatant := .}}{{range $index, $note := .Notes}}
		<span class="tag">
			{{if $note.Timed -}}
			<i class="fas fa-stopwatch button" title="{{$note.Detail $board}}; click to adjust" onclick="editNote({{$combatant.ID}}, {{$index}})"></i>
			{{- else -}}
			<i class="fas fa-pencil-alt button" title="Edit note" onclick="editNote({{$combatant.ID}}, {{$index}})"></i>
			{{- end}}
			<span class="tag-desc">{{$note.Description}}</span>
			<i class="fas fa-times-circle button" title="Delete note" onclick="deleteNote({{$combatant.ID}}, {{$index}})"></i>
		</span>
		{{- end}}
	</div>
{{- end}}
</div>